$body-gradient: radial-gradient(82.33% 70.44% at 50% 0%, #26394D 0%, #212529 100%);

$main-color: #FF7F22;
$main-darken: #FF5722;
$main-blue: #7CDAF9;
$secondary-blue: #22B3E3;
$gray: #4C5865;
$light-gray: #667380;
$main-text: #A3B8CC;